body {
    background-image: url(../img/9019805.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(0,122, 255);
}
